<%- include('./header.include.ejs') %>
<form id="converter" method="post" target="/convert">
<table>
<tr><th><label for="C">Celcius</label></th><td><input onchange="onChange(event)" type="text" name="C" id="C"></td></tr>
<tr><th><label for="F">Fahrenheit</label></th><td><input onchange="onChange(event)" type="text" name="F" id="F"></td></tr></table>
<pre id="error"></pre>

<script>
const onChange = async e => {
  e.preventDefault()
  const target = e.target
  const otherId = target.id === 'C' ? 'F' : 'C'
  const other = document.getElementById(otherId)
  other.value = ''
  const res = await fetch('/convert', {
    method: 'POST',
    headers: {
      'content-type': 'application/x-www-form-urlencoded',
    },
    body: `${target.name}=${target.value}`,
    credentials: 'same-origin',
  })
  const body = await res.json()
  if (res.ok) {
    document.getElementById('error').innerHTML = ''
    other.value = String(body[otherId])
  } else {
    document.getElementById('error').innerHTML = body.error
  }
}
</script>
