<!doctype HTML>
<html>
<head>
<title><%= title %></title>
<script src="https://js.stripe.com/v3/"></script>
<body>
<h1><%= typeof header === 'undefined' ? title : `${title} - ${header}` %></h1>
<%- include('./nav.include.ejs') %>
