<%- include('./header.include.ejs') %>
<form action="/login" method="post">
<div><label>Username: <input type="text" name="user"></label></div>
<div><label>Password: <input type="password" name="pass"></label></div>
<div><input type="submit" value="sign in"></div>
</form>
<div><button
  onclick="document.getElementById('hint').innerHTML = 'username: user\npassword: pass'">Forgot Password?</button><pre id="hint"></pre></div>
<b id="error"><%= typeof error === 'undefined' ? '' : error %></b>
<div><a href="/signup">Create account</a></div>
