<style type="text/css">
nav { display: table; margin-bottom: 1em; }
nav ul { display: table-row }
nav ul li { display: table-cell }
nav ul li a { display: block; border: 1px solid gray; padding: 0 1em }
nav ul * + li a { border-left: 0 }
</style>
<nav>
  <ul>
    <li><a href="/">home</a></li>
    <% if (!loggedIn) { %>
    <li><a href="/login">login</a></li>
    <li><a href="/signup">signup</a></li>
    <% } else { %>
    <li><a href="/logout">logout</a></li>
    <% } %>
  </ul>
</nav>
